

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  width: 100%;
  background-color: #f4f4f4;
}

/*Navbar*/
.navbar {
  background: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

#nav-item {
  font-weight: 300;
  margin-right: 0px;
  font-size: 18px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: rgb(237, 239, 245);

}


.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

#logotext {
  font-size: 30px;
  margin-bottom: 0;
  color: white;
  font-weight: 800;
}

.navbar-toggler {
  border: 0;
  color: rgb(136, 146, 176);

}


span {
  color: rgb(13, 34, 68);
}

#sign-in-button {
  background-color: transparent;
  padding: 0  15px 0 15px;
  margin-left: 16px;
  margin-bottom: 2px;
  border-width: 2.5px;
  /*border-color: #0065b9ff;*/
  border-color: #6ecf5b;
  border-radius: 25px 25px;
  font-weight: 600;

}

#sign-in-button:hover {
  background-color: #6ecf5b;
}

.sign-in-text {
  font-weight: 800;
  color: #01203A;
}

/*Header*/
.jumbotron {
  color: white;

  background: url('./assets/back5.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  padding-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  overflow: auto;
  /*border-bottom-right-radius: 900px 180px;
  border-bottom-left-radius: 900px 180px;*/
  border-width: 30px;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-bottom-right-radius: 100% 5%;
  border-bottom-left-radius: 100% 5%;


}


.header-section {
  text-align: left;
  margin-top: 70px;
  max-width: 730px;
  float: right;
}

h1 {
  color: white;
  font-family: Montserrat;
  font-size: 55px;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 20px;

}

#the-bluub {
  margin-bottom: 30px;
  font-size: 24px;

}

ul {
  margin-left: 15px;
}



#view-btn {
  color: #01203A;
  /*background-color: #0065b9ff;*/
  /*background-color: #32CD32;*/
  background-color: #6ecf5b;
  border-color: #6ecf5b;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  border-radius: 0;
}


/*Multiple sections*/
 .section-one, .section-two, .section-three, .section-four, #footer {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.meet-capella {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;

}

h2 {
  font-weight: 600;
  color: #01203A;
  font-size: 40px;
}

/*Meet Capella Section*/

.meet-capella {
  background-color: #f4f4f4;
  color: #01203A;
  text-align: center;
}

#meet-capella-t {
  margin-bottom: 15px;
}

#meet-capella-p {
  margin: 30px 300px 30px 300px;
  line-height: 2;
}

#meet-capella-button {
  background-color: #6ecf5b;
  color: #01203A;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  border-radius: 0;
  border-color: #6ecf5b;
}


/*Section 1*/

#card-icon-item {
  margin-bottom: 20px;
}

.card {
  border: 0;
  min-width: 250px;
  background: transparent;
}

.card-deck {
  margin-top: 20px;
}

#card-body {
  background: transparent;
  text-align: center;
}

.section-one {
  text-align: center;
  background-color: #01203A;

}

.card-text, .card-title, #card-icon-item {
  color: #f4f4f4;
  margin-bottom: 25px;
}

#section-title1 {
  color:#f4f4f4;
}
.card-text {
  font-size: 18px;
  line-height: 1.8;
}

/*Section 2*/

.section-two {

  text-align: center;

}

#sec-row2 {
}

#main-p2 {
  font-size: 18px;
}

#tit-and-par2 {
  text-align: left;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 20px;
}

#main-p2, #main-t2{
  color: #01203A;
}


/*Section 3*/
.section-three {
  text-align: center;
}



#main-p3, #main-t3{
  color: #01203A;
}

#main-p3 {
  font-size: 18px;
}

#tit-and-par3 {
  text-align: left;

}

#main-t3 {
  color: #01203A;
}

/*Section 4*/
.section-four {
  text-align: center;

}

#main-p4, #main-t4{
  color: #01203A;
}

#main-p4 {
  font-size: 18px;
  margin-bottom: 30px;
}

#tit-and-par4 {
  text-align: left;
}

/*Footer*/
#footer {
  font-size: 12px;
  text-align: center;
  background-color: #01203A;

}

#footer-title {
  color: #f4f4f4;
}

/*
#socialitem {
  color: rgb(136, 146, 176);
  margin-right: 20px;
  margin-left: 20px;
}

#socialitem:hover {
  color: #c49c67;
}

#social-icons {
  padding-bottom: 60px;
  padding-top: 60px;
}
*/

#contact-button {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #6ecf5b;
  border-color: #6ecf5b;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  border-radius: 0;
  color: #01203A;
}

#copyrightinfo {
  font-size: 12px;
  color: #f4f4f4;
}

/* small devices (portrait phones, less than 760px) */

@media (max-width: 760.00px) {
  .meet-capella, .section-one, .section-two, .section-three, .section-four, #footer {
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
  }

  .jumbotron{
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: auto;

    background-image: url("./assets/mobile1.png");
    /*background-image: linear-gradient(#185a9d, #43cea2);*/
  }


  #main-title {
    font-size: 30px;
  }


  h6 {
    font-size: 18px;
  }

  h2 {
  font-size: 28px;
  margin-bottom: 20px;
  }


  .container.shadow-sm {
    max-width: 100%;
  }

  #nav-item {
    padding-left: 10px;
  }

  #view-btn {
    font-size: 14px;
    width: 100%;
  }

  .header-section {
    margin-left: 0;

  }

  #tit-and-par2, #tit-and-par3, #tit-and-par4  {
    min-width: 60%
  }

  #sign-in-button {
    margin-top: 10px;
    margin-left: 0;
    padding-left: 7px;
  }

  #meet-capella-p {
    margin: 30px 0px 30px 0px;
  }



}



/* Medium devices (tablets, less than 992px) */
@media (min-width: 761px) and (max-width: 998.99px) {
    .meet-capella, .section-one, .section-two, .section-three, .section-four, #footer {
      padding-top: 100px;
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 100px;
    }


    #footer {
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 60px;
    }

    #nav-item {
      padding-left: 10px;
    }

    .jumbotron {
      padding-left: 40px;
      padding-right: 40px;
      background-image: url("./assets/mobile1.png");
      /*background-image: url("./assets/mobile1.png");*/
    }


    #main-title {
      font-size: 35px;
    }

    #sign-in-button {
      margin-top: 10px;
      margin-left: 0;
      padding-left: 7px;
    }

    #meet-capella-p {
      margin: 30px 0px 30px 0px;
    }

    .header-section {
      float: left;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 999px) and (max-width: 1280.00px) {
  .meet-capella, .section-one, .section-two, .section-three, .section-four, #footer {
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 120px;
  }

  .jumbotron {
    padding-left: 30px;
    padding-right: 30px;
    background-image: url("./assets/mobile1.png");
    background-size: cover;
  }

  #nav-item {
    padding-left: 10px;
  }




  #sign-in-button {

  }

  #meet-capella-p {
    margin: 30px 0px 30px 0px;
  }


}
